---
layout: default
title: Home
active: index
---
<div class="posts">
	{% for post in paginator.posts %}
	<article class="post">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1><a href="{{ post.url }}">{{ post.title }}</a> <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small></h1>
			</div>
			<div class="panel-body">
				{{ post.content }}
			</div>
		</div>
	</article>
	{% endfor %}
</div>

<div class="pagination">
	{% if paginator.next_page %}
		<a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
	{% else %}
		<span class="pagination-item older">Older</span>
	{% endif %}
	{% if paginator.previous_page %}
		{% if paginator.page == 2 %}
			<a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
		{% else %}
			<a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
		{% endif %}
	{% else %}
		<span class="pagination-item newer">Newer</span>
	{% endif %}
</div>